#==================================================================================================
#=== Requirements ==================================================================================================
#==================================================================================================
'''
- tensorflow 2 : 
    - install Microsoft Visual C++ Redistributable from : https://support.microsoft.com/help/2977003/the-latest-supported-visual-c-downloads
        - Scroll down the page to the Visual Studio 2015, 2017 and 2019 section and download file. 
    - upgrade your pip
    - then run : pip install tensorflow
- mtcnn https://github.com/ipazc/mtcnn :
    - pip install mtcnn
- cv2
'''
#==================================================================================================
#==================================================================================================